In [2]:
import pandas as pd

# Carga los archivos CSV

In [11]:
df1 = pd.read_csv('C:/Users/ASUS/Desktop/workshop3ETL/data/2015.csv')
df2 = pd.read_csv('C:/Users/ASUS/Desktop/workshop3ETL/data/2016.csv')
df3 = pd.read_csv('C:/Users/ASUS/Desktop/workshop3ETL/data/2017.csv')
df4 = pd.read_csv('C:/Users/ASUS/Desktop/workshop3ETL/data/2018.csv')
df5 = pd.read_csv('C:/Users/ASUS/Desktop/workshop3ETL/data/2019.csv')

# Diccionarios para renombrar columnas principales a nombres estandarizados

In [12]:

rename_df1 = {
    'Country': 'Country',
    'Region': 'Region',
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'GDP_per_Capita',
    'Family': 'Social_Support',
    'Health (Life Expectancy)': 'Life_Expectancy',
    'Freedom': 'Freedom',
    'Generosity': 'Generosity',
    'Trust (Government Corruption)': 'Corruption_Perception',
    'Dystopia Residual': 'Dystopia_Residual',
    'Standard Error': 'Standard_Error' 
}

rename_df2 = {
    'Country': 'Country',
    'Region': 'Region',
    'Happiness Rank': 'Happiness_Rank',
    'Happiness Score': 'Happiness_Score',
    'Economy (GDP per Capita)': 'GDP_per_Capita',
    'Family': 'Social_Support',
    'Health (Life Expectancy)': 'Life_Expectancy',
    'Freedom': 'Freedom',
    'Generosity': 'Generosity',
    'Trust (Government Corruption)': 'Corruption_Perception',
    'Dystopia Residual': 'Dystopia_Residual',
    'Lower Confidence Interval': 'Lower_Confidence_Interval',  
    'Upper Confidence Interval': 'Upper_Confidence_Interval'  
}

rename_df3 = {
    'Country': 'Country',
    'Happiness.Rank': 'Happiness_Rank',
    'Happiness.Score': 'Happiness_Score',
    'Economy..GDP.per.Capita.': 'GDP_per_Capita',
    'Family': 'Social_Support',
    'Health..Life.Expectancy.': 'Life_Expectancy',
    'Freedom': 'Freedom',
    'Generosity': 'Generosity',
    'Trust..Government.Corruption.': 'Corruption_Perception',
    'Dystopia.Residual': 'Dystopia_Residual',
    'Whisker.high': 'Whisker_High',  
    'Whisker.low': 'Whisker_Low'  
}

rename_df4_df5 = {
    'Country or region': 'Country',
    'Overall rank': 'Happiness_Rank',
    'Score': 'Happiness_Score',
    'GDP per capita': 'GDP_per_Capita',
    'Social support': 'Social_Support',
    'Healthy life expectancy': 'Life_Expectancy',
    'Freedom to make life choices': 'Freedom',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Corruption_Perception'
}

# Renombrar columnas

In [13]:
df1 = df1.rename(columns=rename_df1)
df2 = df2.rename(columns=rename_df2)
df3 = df3.rename(columns=rename_df3)
df4 = df4.rename(columns=rename_df4_df5)
df5 = df5.rename(columns=rename_df4_df5)

# Agregar columna 'Year'

In [14]:
df1['Year'] = 2015
df2['Year'] = 2016
df3['Year'] = 2017
df4['Year'] = 2018
df5['Year'] = 2019

# Concatenar todos los DataFrames sin eliminar columnas

In [19]:
df_combined = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [20]:
df_combined['id'] = range(1, len(df_combined) + 1)

# Reordenar columnas para que 'id' est√© al principio
columnas = ['id'] + [col for col in df_combined.columns if col != 'id']
df_combined = df_combined[columnas]

# Verificar el resultado

In [21]:
print("Shape del DataFrame combinado:", df_combined.shape)
print("Columnas del DataFrame combinado:", df_combined.columns)

Shape del DataFrame combinado: (782, 18)
Columnas del DataFrame combinado: Index(['id', 'Country', 'Region', 'Happiness_Rank', 'Happiness_Score',
       'Standard_Error', 'GDP_per_Capita', 'Social_Support', 'Life_Expectancy',
       'Freedom', 'Corruption_Perception', 'Generosity', 'Dystopia_Residual',
       'Year', 'Lower_Confidence_Interval', 'Upper_Confidence_Interval',
       'Whisker_High', 'Whisker_Low'],
      dtype='object')

In [24]:
df_combined

,id,Country,Region,Happiness_Rank,Happiness_Score,Standard_Error,GDP_per_Capita,Social_Support,Life_Expectancy,Freedom,Corruption_Perception,Generosity,Dystopia_Residual,Year,Lower_Confidence_Interval,Upper_Confidence_Interval,Whisker_High,Whisker_Low
0,1,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN
1,2,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN
2,3,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN
3,4,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN
4,5,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,778,Rwanda,NaN,152,3.334,NaN,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019,NaN,NaN,NaN,NaN
778,779,Tanzania,NaN,153,3.231,NaN,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019,NaN,NaN,NaN,NaN
779,780,Afghanistan,NaN,154,3.203,NaN,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019,NaN,NaN,NaN,NaN
780,781,Central African Republic,NaN,155,3.083,NaN,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019,NaN,NaN,NaN,NaN
781,782,South Sudan,NaN,156,2.853,NaN,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,2019,NaN,NaN,NaN,NaN

In [25]:
print("Valores nulos por columna:")
print(df_combined.isnull().sum())

Valores nulos por columna:
id                             0
Country                        0
Region                       467
Happiness_Rank                 0
Happiness_Score                0
Standard_Error               624
GDP_per_Capita                 0
Social_Support                 0
Life_Expectancy                0
Freedom                        0
Corruption_Perception          1
Generosity                     0
Dystopia_Residual            312
Year                           0
Lower_Confidence_Interval    625
Upper_Confidence_Interval    625
Whisker_High                 627
Whisker_Low                  627
dtype: int64

# Guardar el resultado

In [26]:
df_combined.to_csv('C:/Users/ASUS/Desktop/workshop3ETL/data/df_combined.csv', index=False)